/****** Style Star Rating Widget *****/
.rating {
  border: none;
  transform: rotateY(180deg);
}
.rating input,
.rating span {
  display: none;
}
.rating label {
  color: #ddd;
  cursor: pointer;
  font-size: 40px;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating input:checked ~ label,
.rating:not(:checked) label:hover,
.rating:not(:checked) label:hover ~ label {
  color: #ffd700;
}
/* hover previous stars in list */
.rating input:checked + label:hover,
.rating input:checked ~ label:hover,
.rating label:hover ~ input:checked ~ label,
.rating input:checked ~ label:hover ~ label {
  color: #ffed85;
}
